import React from 'react';

import type { {{pascalCase name}}Props } from './{{pascalCase name}}.props';

export const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = props => {

  return (
    <div>
      Hello {{pascalCase name}}!
    </div>
  );
};

{{pascalCase name}}.displayName = '{{pascalCase name}}';
